<script>
    $(document).ready(function () {
        initTable();
    });

    function initTable() {
        var table = $('#stockTable').DataTable({
             "processing": true,
             "serverSide": true,
             "bDestroy": true,
             "orderMulti": false,
             "pageLength": 10,
             "bInfo": true,
             "lengthChange": true,
             "searching": true,
             "ajax": {
                 "url": "@Url.Action("LoadStock")",
                 "type": "POST",
             },
             "columns": [
                 { render: function (data, type, row, meta) { return meta.row + 1; }, orderable: false },
                 { data: "barcode", orderable: false },
                 { data: "name", orderable: false },
                 { data: "category_name", orderable: false },
                 { data: "sub_category_name", orderable: false },
                 { data: "action", orderable: false }
             ],
         });
    };

    function reloadTable() {
        $('#stockTable').DataTable().ajax.reload(null, false);
    }

    function loadCategories(selectedId = null, callback) {
        $.get('@Url.Action("GetAllCategory", "Stock")', function(data) {
            var $ddl = $('#category_id');
            $ddl.empty();
            $ddl.append('<option value="" disabled>-- Select Category --</option>');
            $.each(data, function(i, item) {
                $ddl.append('<option value="' + item.category_id + '">' + item.name + '</option>');
            });
            if(selectedId) $ddl.val(selectedId);
            if(callback) callback();
        })
    }

    function loadSubCategories(selectedId = null, callback) {
        $.get('@Url.Action("GetAllSubCategory", "Stock")', function(data) {
            var $ddl = $('#sub_category_id');
            $ddl.empty();
            $ddl.append('<option value="" disabled>-- Select Sub Category --</option>');
            $.each(data, function(i, item) {
                $ddl.append('<option value="' + item.sub_category_id + '">' + item.name + '</option>');
            });
            if(selectedId) $ddl.val(selectedId);
            if(callback) callback();
        })
    }


    function ShowData(stock_id){
        $.get('@Url.Action("Get")', { stock_id: stock_id }, function(data){
            var tbody = $('#detailTable tbody');
            tbody.empty();

            var index = 1;
            for(var key in data){
                if (key !== "sub_category_id" && key !== "category_id" && key !== "action") {
                    let displayKey = key;
                    if (key === "sub_category_id") {
                        displayKey = "Sub Category";
                    } else if (key === "category_id") {
                        displayKey = "Category";
                    } else {
                        displayKey = key.replace(/_/g, ' ').replace(/\b\w/g, l => l.toUpperCase());
                    }
                    tbody.append('<tr>' +
                        '<td>' + displayKey + '</td>' +
                        '<td>' + data[key] + '</td>' +
                        '</tr>');
                }
            }

            $('#showModal').modal('show');
        });
    }

    function AddData() {
        $('#modalTitle').text("Add Stock");
        $('#saveForm')[0].reset();
        $('#stock_id').val('');
        loadCategories(null);
        loadSubCategories(null, function () {
            $('#dataModal').modal('show');
        });
    }

    function EditData(stock_id) {
        $.get('@Url.Action("Get", "Stock")', { stock_id: stock_id }, function (data) {
            loadCategories(data.category_id);
            loadSubCategories(data.sub_category_id, function () {
                $('#stock_id').val(data.stock_id);
                $('#name').val(data.name);
                $('#barcode').val(data.barcode);
                $('#price').val(data.price);
                $('#notes').val(data.notes);
                $('#modalTitle').text("Edit Stock");
                $('#dataModal').modal('show');
            });
        });
    }

    function DeleteData(stock_id) {
        swal({
            title: "Confirmation",
            text: "Are you sure you want to delete this data?",
            icon: "warning",
            buttons: ["No", "Yes"],
            dangerMode: true
        }).then(function(isDelete){
            if(isDelete){
                $.post('@Url.Action("Delete")', { stock_id: stock_id }, function(status){
                    if(status == 'success'){
                        swal("Deleted!", "Stock has been deleted.", "success");
                        reloadTable();
                    } else {
                        swal("Failed!", "Failed to delete: " + status, "error");
                    }
                });
            } else {
                swal("Cancelled", "Stock deletion cancelled.", "info");
            }
        });
    }

    $('#saveForm').submit(function(e){
        e.preventDefault();
        var formData = {
            stock_id: $('#stock_id').val(),
            sub_category_id: $('#sub_category_id').val(),
            category_id: $('#category_id').val(),
            name: $('#name').val(),
            barcode: $('#barcode').val(),
            price: parseFloat($('#price').val()) || 0,
            notes: $('#notes').val()
        };

        swal({
            title: "Save stock?",
            text: "Are you sure you want to save this stock?",
            icon: "info",
            buttons: ["No", "Yes"]
        }).then(function(isSave){
            if(isSave){
                $.post('@Url.Action("Store")', formData, function(status){
                    if(status == 'success'){
                        $('#dataModal').modal('hide');
                        swal("Saved!", "Stock saved successfully.", "success");
                        reloadTable();
                    } else {
                        swal("Failed!", "Failed to save: " + status, "error");
                    }
                });
            } else {
                swal("Cancelled", "Save action cancelled.", "info");
            }
        });
    });
</script>